@font-face {
  font-family: "Gilroy-Regular";
  src: url(../fonts/Gilroy/Gilroy-Regular.woff);
}
@font-face {
  font-family: "Gilroy-Medium";
  src: url(../fonts/Gilroy/Gilroy-Medium.woff);
}
@font-face {
  font-family: "Gilroy-SemiBold";
  src: url(../fonts/Gilroy/Gilroy-SemiBold.woff);
}
@font-face {
  font-family: "Otomarine";
  src: url(../fonts/Otomarine/Otomarine.woff);
}
html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

ul {
  list-style: none;
}

ul, li, p, h1, h2, h3 {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}

input, button, a {
  outline: none;
}

a {
  text-decoration: none;
}

.content-container {
  min-height: 100%;
  margin-bottom: -141px;
}
.content-container:after {
  content: "";
  display: block;
  height: 141px;
}

body {
  font-family: Gilroy-Medium, sans-serif;
  -webkit-tap-highlight-color: transparent;
  overflow-x: hidden;
  overscroll-behavior: none;
}
body img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3 {
  font-weight: 500;
}

.content-center {
  max-width: 1170px;
  margin: 0 auto;
}

.btn {
  font-size: 14px;
  color: #FFFFFF;
  transition: all 0.3s linear;
  display: inline-block;
  border-radius: 2px;
}

.box-shadow {
  box-shadow: 0 4px 20px rgba(228, 228, 228, 0.5);
}

.green-btn {
  background-color: #149E4C;
}
.green-btn:hover {
  background-color: #149448;
}

.border-btn {
  color: #149E4C;
  border: 1px solid #ebebeb;
}
.border-btn:hover {
  border-color: #149E4C;
}

.link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.title-1 {
  font-size: 40px;
  line-height: 45px;
  color: #050A0A;
  font-family: Otomarine, sans-serif;
}

.about-text {
  font-size: 16px;
  line-height: 22px;
  color: #8b8b8b;
  text-align: left;
  letter-spacing: 0.003em;
  font-family: Gilroy-Regular, sans-serif;
}
.about-text__text {
  margin-bottom: 26px;
}
.about-text__list {
  margin-bottom: 25px;
}
.about-text__list li {
  list-style-type: disc;
  list-style-position: inside;
}

.form-subscribe input[type=email] {
  background: #FFFFFF;
  border: none;
  border-radius: 2px;
  padding: 18px 20px 15px;
  color: #363636;
  margin-right: 16px;
  height: 46px;
  width: 76.5%;
}
.form-subscribe .privacy {
  margin-top: 31px;
  display: block;
  font-size: 12px;
  color: #7f7f7f;
}
.form-subscribe .privacy a {
  color: #FFFFFF;
}
.form-subscribe .privacy a:hover {
  text-decoration: underline;
}

input[type=search i]::-webkit-search-cancel-button {
  display: none !important;
}

input[type=search],
input[type=email] {
  font-size: 14px;
  font-family: Gilroy-Regular, sans-serif;
  border-radius: 4px;
  width: 100%;
  outline: none;
  -webkit-appearance: none !important;
}
input[type=search]::-webkit-input-placeholder,
input[type=email]::-webkit-input-placeholder {
  font-size: 14px;
  color: #8b8b8b;
}
input[type=search]:-moz-placeholder,
input[type=email]:-moz-placeholder {
  font-size: 14px;
  color: #8b8b8b;
}
input[type=search]::-moz-placeholder,
input[type=email]::-moz-placeholder {
  font-size: 14px;
  color: #8b8b8b;
}
input[type=search]:-ms-input-placeholder,
input[type=email]:-ms-input-placeholder {
  font-size: 14px;
  color: #8b8b8b;
}

.breadcrumbs {
  padding: 20px 0 23px;
}
.breadcrumbs li {
  display: inline-block;
  margin-right: 10px;
  font-size: 12px;
  color: #8b8b8b;
}
.breadcrumbs li:last-child:after {
  display: none;
}
.breadcrumbs li:after {
  content: "";
  background: #8b8b8b;
  width: 15px;
  height: 1px;
  display: inline-block;
  vertical-align: top;
  margin: 5px 0 0 10px;
}
.breadcrumbs li a {
  color: #8b8b8b;
}
.breadcrumbs li a:hover {
  text-decoration: underline;
}

.about-page__header {
  background: #fef3e2;
  height: 280px;
}
.about-page__header .content-center {
  display: flex;
  justify-content: space-between;
}
.about-page__header .page-title {
  margin-top: 20px;
}
.about-page__header-wrap {
  width: 438px;
}
.about-page__header-img {
  width: 658px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.about-page__header-img .mob {
  display: none;
}
.about-page .page-title {
  font-size: 44px;
  line-height: 52px;
  color: #050A0A;
  font-family: Otomarine, sans-serif;
  letter-spacing: -0.01em;
}
.about-page .page-subtitle {
  font-family: Gilroy-Regular, sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #8b8b8b;
  margin-top: 10px;
}
.about-page__tabs {
  border-bottom: 1px solid #E2E7ED;
}
.about-page__tabs .content-center {
  margin-bottom: -1px;
}
.about-page__tabs-list {
  display: flex;
  height: 86px;
}
.about-page__tabs-item {
  width: 33.3%;
  font-size: 20px;
  line-height: 25px;
}
.about-page__tabs-item:hover a {
  color: #149E4C;
  border-color: #149E4C;
}
.about-page__tabs-item a {
  color: #050A0A;
  border-bottom: 2px solid transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.about-page__tabs-item .active {
  color: #149E4C;
  border-color: #149E4C;
}

#tabsWrap .about {
  display: none;
}

#tabsWrap .about.active {
  display: block;
}

.about#tab1 .about-us {
  text-align: center;
  padding: 80px 0;
  background: #f8f8f8;
}
.about#tab1 .about-us .page-subtitle {
  width: 62%;
  margin: 18px auto 0;
}
.about#tab1 .about-us__list {
  display: flex;
  margin-top: 40px;
}
.about#tab1 .about-us__list-item {
  width: 32.1%;
  background: #FFFFFF;
  border-radius: 6px;
  padding: 36px;
  margin-right: 20px;
}
.about#tab1 .about-us__list-item:nth-child(3) {
  margin-right: 0;
}
.about#tab1 .about-us__list-item-icon {
  width: 76px;
  height: 76px;
  background: rgba(20, 158, 76, 0.1);
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.about#tab1 .about-us__list-item-icon:before {
  content: "";
  width: 34px;
  height: 34px;
}
.about#tab1 .about-us__list-item-title {
  margin-top: 22px;
  font-size: 20px;
  line-height: 25px;
  color: #050A0A;
}
.about#tab1 .about-us__list-item-txt {
  margin-top: 7px;
  font-family: Gilroy-Regular, sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #8b8b8b;
}
.about#tab1 .about-us__list-item:nth-child(1) .about-us__list-item-icon:before {
  content: "";
  background: url("../img/about-icon-1.svg") no-repeat 0 0/contain;
}
.about#tab1 .about-us__list-item:nth-child(2) .about-us__list-item-icon:before {
  content: "";
  background: url("../img/about-icon-2.svg") no-repeat 0 0/contain;
}
.about#tab1 .about-us__list-item:nth-child(3) .about-us__list-item-icon:before {
  content: "";
  background: url("../img/about-icon-3.svg") no-repeat 0 0/contain;
  height: 30px;
}

.achievements {
  padding: 61px 0 80px;
  text-align: center;
}
.achievements__list {
  margin-top: 40px;
  display: flex;
}
.achievements__list-item {
  width: 24%;
  background: #FFFFFF;
  border-radius: 6px;
  padding: 45px;
  margin-right: 20px;
}
.achievements__list-item:nth-child(4) {
  margin-right: 0;
}
.achievements__list-item-number {
  font-family: Otomarine, sans-serif;
  font-size: 40px;
  line-height: 45px;
  color: #149E4C;
}
.achievements__list-item-title {
  margin-top: 16px;
  font-size: 20px;
  color: #050A0A;
}
.achievements__list-item-txt {
  margin-top: 12px;
  font-family: Gilroy-Regular, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #8b8b8b;
}

.expert-review {
  background: #f8f8f8;
  padding: 93px 0 70px;
}
.expert-review .content-center {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.expert-review__text {
  width: 45%;
  margin-top: 64px;
}
.expert-review__text .title-1 {
  margin-bottom: 28px;
  letter-spacing: -0.02em;
}
.expert-review__text .about-text {
  margin-bottom: 25px;
}
.expert-review__text .more-info {
  margin-top: 18px;
  padding: 16px 43px 13px;
}
.expert-review__social {
  margin-top: 43px;
  border: 1px solid #ebebeb;
  border-radius: 2px;
  display: flex;
  padding: 18px 0;
  max-width: 497px;
}
.expert-review__social-item {
  border-right: 1px solid #ebebeb;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 9px 0;
}
.expert-review__social-item:last-child {
  border-right: 0;
}
.expert-review__social-item a {
  background: #8b8b8b;
  mask-repeat: no-repeat;
  mask-size: contain;
  transition: 0.3s linear;
  width: 24px;
  height: 24px;
}
.expert-review__social-item a:hover {
  background: #149E4C;
}
.expert-review__social-item .fb {
  mask-image: url("../img/footer-facebook.svg");
}
.expert-review__social-item .insta {
  mask-image: url("../img/footer-insta.svg");
}
.expert-review__social-item .linkedin {
  mask-image: url("../img/footer-linkedin.svg");
}
.expert-review__social-item .twitter {
  mask-image: url("../img/footer-twitter.svg");
}
.expert-review__photo {
  width: 445px;
  position: relative;
  margin-right: 74px;
  margin-top: -23px;
}
.expert-review__photo .photo-text {
  width: 321px;
  font-family: Gilroy-Regular, sans-serif;
  background: #FFFFFF;
  border-radius: 6px;
  position: absolute;
  bottom: -1px;
  left: 204px;
  z-index: 1;
  font-size: 16px;
  line-height: 22px;
  color: #8b8b8b;
  background: #FFFFFF;
  padding: 21px 28px;
}

.favourite {
  padding: 84px 0 82px;
  text-align: center;
}
.favourite__list {
  margin-top: 39px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.favourite__list-item {
  width: 195px;
  height: 90px;
  border: 1px solid #ebebeb;
  display: flex;
  align-items: center;
  background: #FFFFFF;
  margin: 0 -1px -1px 0;
  padding-left: 29px;
}
.favourite__list-item-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 15px;
  flex-shrink: 0;
}
.favourite__list-item-name {
  font-size: 14px;
  color: #050A0A;
}

.visitors {
  background: #f8f8f8;
  padding: 88px 0 80px;
  text-align: center;
}
.visitors__list {
  margin-top: 40px;
  display: flex;
  text-align: left;
}
.visitors__list-item {
  width: 32.1%;
  background: #FFFFFF;
  border-radius: 6px;
  padding: 46px 43px;
  margin-right: 20px;
}
.visitors__list-item:nth-child(3) {
  margin-right: 0;
}
.visitors__list-item-txt {
  font-family: Gilroy-Regular, sans-serif;
  font-size: 16px;
  line-height: 26px;
  color: #8b8b8b;
}
.visitors__list-item-wrap {
  margin-top: 63px;
  display: flex;
}
.visitors__list-item-img {
  flex-shrink: 0;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 17px;
}
.visitors__list-item-name {
  margin-top: 2px;
}
.visitors__list-item-name p {
  font-size: 18px;
  color: #050A0A;
}
.visitors__list-item-name p + p {
  font-size: 16px;
  color: #8b8b8b;
  font-family: Gilroy-Regular, sans-serif;
  margin-top: 11px;
}

.seo-text {
  padding: 82px 0 53px;
}
.seo-text .title-1 {
  margin-bottom: 16px;
}

.faq {
  padding: 83px 0 100px;
  text-align: center;
  background: #f8f8f8;
}
.faq .section-title {
  margin-bottom: 12px;
  font-size: 44px;
  line-height: 52px;
  color: #050A0A;
  font-family: Otomarine, sans-serif;
}
.faq .section-subtitle {
  width: 63%;
  font-family: Gilroy-Regular, sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #8b8b8b;
  margin: 0 auto;
}
.faq__wrap {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.faq__list {
  width: 49.5%;
}
.faq__list-item {
  list-style: none;
  border-radius: 3px;
  margin-bottom: 10px;
  background: #FFFFFF;
  text-align: left;
  cursor: pointer;
  transition: box-shadow 0.2s linear;
}
.faq__list-item:hover {
  box-shadow: 0 4px 30px #e4e4e4;
}
.faq__list-item summary::-webkit-details-marker {
  display: none;
}
.faq__list-item > summary {
  list-style: none;
}
.faq__list-item[open] {
  box-shadow: 0 4px 30px #e4e4e4;
}
.faq__list-item[open] > summary:before {
  transform: rotate(180deg);
}
.faq__list-item-title {
  font-size: 16px;
  color: #050A0A;
  outline: none;
  position: relative;
  padding: 27px 60px 24px 30px;
}
.faq__list-item-title:before {
  content: "";
  mask-image: url("../img/arrow-down.svg");
  mask-size: 14px 9px;
  background-repeat: no-repeat;
  background-color: #149E4C;
  width: 14px;
  height: 9px;
  display: block;
  position: absolute;
  top: 45%;
  right: 28px;
}
.faq__list-item-text {
  font-size: 14px;
  line-height: 20px;
  color: #8b8b8b;
  padding: 0 30px 30px;
}

.about#tab2 {
  padding: 0;
}
.about#tab2 .expert-review {
  text-align: left;
}
.about#tab2 .expert-review__text {
  margin-top: 0;
}
.about#tab2 .about-casino {
  padding: 84px 0 60px;
}
.about#tab2 .about-casino .content-center {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.about#tab2 .about-casino__left {
  width: 33%;
  margin-top: -18px;
}
.about#tab2 .about-casino__right {
  width: 43%;
  margin-left: 165px;
}
.about#tab2 .about-casino__right-title {
  margin-bottom: 20px;
}
.about#tab2 .about-casino__right-txt {
  font-family: Gilroy-Regular, sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #8b8b8b;
  margin-bottom: 20px;
}
.about#tab2 .achievements {
  padding: 61px 0 67px;
  background: #f8f8f8;
}
.about#tab2 .history {
  padding: 60px 0 40px;
  text-align: center;
}
.about#tab2 .history__list {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  text-align: left;
}
.about#tab2 .history__list-item {
  width: 47%;
  margin-right: 60px;
  margin-bottom: 48px;
  padding-bottom: 30px;
  border-bottom: 1px solid #D7D7D7;
}
.about#tab2 .history__list-item:nth-child(even) {
  margin-right: 0;
}
.about#tab2 .history__list-item:nth-child(1) .history__list-item-title:before {
  content: "1";
}
.about#tab2 .history__list-item:nth-child(2) .history__list-item-title:before {
  content: "2";
}
.about#tab2 .history__list-item:nth-child(3) .history__list-item-title:before {
  content: "3";
}
.about#tab2 .history__list-item:nth-child(4) .history__list-item-title:before {
  content: "4";
}
.about#tab2 .history__list-item-title {
  font-size: 18px;
  line-height: 23px;
  color: #050A0A;
  padding-left: 39px;
  position: relative;
}
.about#tab2 .history__list-item-title:before {
  background: rgba(20, 158, 76, 0.12);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: #149E4C;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding-top: 2px;
  position: absolute;
  top: -5px;
  left: 0;
}
.about#tab2 .history__list-item-txt {
  font-family: Gilroy-Regular, sans-serif;
  font-size: 14px;
  line-height: 20px;
  margin-top: 22px;
  color: #8b8b8b;
}
.about#tab2 .promotions {
  background: #f8f8f8;
  padding: 83px 0 70px;
  text-align: center;
}
.about#tab2 .promotions__info {
  display: none;
}
.about#tab2 .promotions .toggle-list {
  display: block;
}
.about#tab2 .promotions__list {
  margin-top: 32px;
  display: flex;
  text-align: left;
}
.about#tab2 .promotions__list-item {
  width: 24%;
  margin-right: 20px;
}
.about#tab2 .promotions__list-item:nth-child(4n) {
  margin-right: 0;
}
.about#tab2 .promotions__list-item-img {
  border-radius: 6px;
  overflow: hidden;
  height: 160px;
}
.about#tab2 .promotions__list-item-title {
  font-size: 18px;
  line-height: 26px;
  color: #050A0A;
  display: inline-block;
  margin-top: 21px;
}
.about#tab2 .promotions__list-item-title:hover {
  text-decoration: underline;
}
.about#tab2 .promotions__list-item-date {
  font-size: 12px;
  color: #8b8b8b;
  margin-top: 22px;
}
.about#tab2 .promotions__more-btn {
  margin-top: 45px;
  padding: 16px 80px 13px;
  width: 100%;
  text-align: center;
  cursor: pointer;
}
.about#tab2 .faq {
  background: #FFFFFF;
}

.about#tab3 {
  padding: 0;
  background: #f8f8f8;
}
.about#tab3 .contacts-page {
  padding: 80px 0;
}
.about#tab3 .contacts-page .title-1 {
  width: 53.5%;
}
.about#tab3 .contacts-page .page-subtitle {
  width: 53.5%;
  margin: 18px 0 0;
}
.about#tab3 .contacts-page__content {
  display: flex;
  justify-content: space-between;
}
.about#tab3 .contacts-page__content-left {
  width: 53.5%;
}
.about#tab3 .contacts-page__content-left .actions-list {
  margin-top: 30px;
}
.about#tab3 .contacts-page__content-left .actions-list__item {
  padding: 22px 0 24px;
  border-bottom: 1px solid #d7d7d7;
  position: relative;
}
.about#tab3 .contacts-page__content-left .actions-list__item:hover .actions-title {
  color: #149E4C;
}
.about#tab3 .contacts-page__content-left .actions-list__item:hover .arrow {
  background-color: #050A0A;
}
.about#tab3 .contacts-page__content-left .actions-list__item .actions-title {
  font-size: 18px;
  color: #050A0A;
}
.about#tab3 .contacts-page__content-left .actions-list__item .actions-subtitle {
  font-size: 14px;
  color: #8b8b8b;
  font-family: Gilroy-Regular, sans-serif;
  margin-top: 9px;
  letter-spacing: 0.2px;
  width: 93%;
}
.about#tab3 .contacts-page__content-left .actions-list__item .arrow {
  mask-image: url("../img/arrow-right.svg");
  background-color: #BFBFBF;
  width: 8px;
  height: 11px;
  position: absolute;
  top: 46%;
  right: 0;
}
.about#tab3 .contacts-page__content-left .trusted {
  margin-top: 43px;
}
.about#tab3 .contacts-page__content-left .trusted__title {
  font-family: Gilroy-SemiBold, sans-serif;
  font-size: 12px;
  color: #050A0A;
  text-transform: uppercase;
}
.about#tab3 .contacts-page__content-left .trusted__list {
  margin-top: 28px;
  display: flex;
}
.about#tab3 .contacts-page__content-left .trusted__list-item {
  margin-right: 40px;
  height: 60px;
}
.about#tab3 .contacts-page__content-left .trusted__list-item img {
  width: auto;
  height: 100%;
}
.about#tab3 .contacts-page__content-left .trusted__list-item:last-child {
  margin-right: 0;
}
.about#tab3 .contacts-page__content-right {
  width: 496px;
  margin-top: -130px;
}
.about#tab3 .contacts-page__form {
  padding: 40px 40px 48px;
  background: #FFFFFF;
  position: relative;
}
.about#tab3 .contacts-page__form .form-title {
  font-size: 20px;
  color: #050A0A;
  margin-bottom: 34px;
}
.about#tab3 .contacts-page__form .wrap-name {
  display: flex;
  justify-content: space-between;
}
.about#tab3 .contacts-page__form .wrap-name label {
  width: 48%;
}
.about#tab3 .contacts-page__form label {
  font-size: 12px;
  color: #8b8b8b;
  letter-spacing: 0.2px;
  display: flex;
  flex-direction: column;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  margin-bottom: 23px;
  position: relative;
}
.about#tab3 .contacts-page__form label:focus, .about#tab3 .contacts-page__form label:active {
  outline: none;
}
.about#tab3 .contacts-page__form label input {
  border: 1px solid #EBEBEB;
  font-family: Gilroy-Regular, sans-serif;
  border-radius: 5px;
  outline: none;
  font-size: 14px;
  color: #050A0A;
  padding: 11px 42px 9px 16px;
  margin-top: 8px;
}
.about#tab3 .contacts-page__form label input:focus, .about#tab3 .contacts-page__form label input:active {
  outline: none;
  border-color: rgba(16, 16, 16, 0.3);
}
.about#tab3 .contacts-page__form label .status-message {
  position: absolute;
  top: 120%;
  left: 0;
  right: 0;
  background: #FFFFFF;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  width: 100%;
  padding: 16px 19px 12px;
  z-index: 0;
  opacity: 0;
  transform: translateY(50px);
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}
.about#tab3 .contacts-page__form label .status-message:before {
  content: "";
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-top-width: 0;
  border-bottom-color: #FFFFFF;
  position: absolute;
  top: -6px;
  right: 18px;
}
.about#tab3 .contacts-page__form label .status-message p {
  font-size: 14px;
  color: #050A0A;
}
.about#tab3 .contacts-page__form label .status-message p + p {
  font-family: Gilroy-Regular, sans-serif;
  font-size: 12px;
  line-height: 20px;
  color: #8b8b8b;
  margin-top: 3px;
  letter-spacing: 0.2px;
}
.about#tab3 .contacts-page__form .error-input input {
  border-color: #EB1C30;
}
.about#tab3 .contacts-page__form .error-input input:focus, .about#tab3 .contacts-page__form .error-input input:active {
  border-color: #EB1C30;
}
.about#tab3 .contacts-page__form .error-input .show {
  opacity: 1;
  z-index: 1;
  transform: translateY(0);
}
.about#tab3 .contacts-page__form .error-input:after {
  content: "";
  background: url("../img/error-icon.svg") 0 0 no-repeat;
  width: 18px;
  height: 16px;
  position: absolute;
  bottom: 14px;
  right: 15px;
}
.about#tab3 .contacts-page__form .upload {
  margin-top: 31px;
  padding-left: 40px;
  position: relative;
}
.about#tab3 .contacts-page__form .upload:before {
  content: "";
  background: url("../img/file-icon.svg") 0 0 no-repeat;
  width: 16px;
  height: 17px;
  position: absolute;
  top: 2px;
  left: 0;
}
.about#tab3 .contacts-page__form .upload p {
  font-size: 16px;
}
.about#tab3 .contacts-page__form .upload p a {
  color: #050A0A;
}
.about#tab3 .contacts-page__form .upload p a:hover {
  color: #EB1C30;
}
.about#tab3 .contacts-page__form .upload p + p {
  margin-top: 6px;
  font-family: Gilroy-Regular, sans-serif;
  font-size: 14px;
  color: #8b8b8b;
}
.about#tab3 .contacts-page__form .form-btn {
  margin-top: 29px;
  font-family: Gilroy-Medium, sans-serif;
  width: 100%;
  border: none;
  border-radius: 4px;
  padding: 13px 0 12px;
  font-size: 14px;
  cursor: pointer;
}
.about#tab3 .contacts-page__form .mail {
  margin-top: 43px;
  font-size: 16px;
  color: #8b8b8b;
  display: inline-block;
  font-family: Gilroy-Regular, sans-serif;
}
.about#tab3 .contacts-page__form .mail:before {
  content: "";
  background: url("../img/mail-icon.svg") 0 0 no-repeat;
  width: 28px;
  height: 25px;
  display: inline-block;
  vertical-align: top;
  margin: -2px 17px 0 0;
}
.about#tab3 .contacts-page__form .mail:hover {
  color: #050A0A;
}
.about#tab3 .contacts-page__form .success-popup,
.about#tab3 .contacts-page__form .forbidden-popup {
  background: #FFFFFF;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  padding: 87px 40px 46px;
  flex-direction: column;
  justify-content: space-between;
}
.about#tab3 .contacts-page__form .success-popup .close-btn,
.about#tab3 .contacts-page__form .forbidden-popup .close-btn {
  background: url("../img/close-icon.svg") 0 0 no-repeat;
  width: 13px;
  height: 13px;
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
  transition: transform 0.4s ease-in-out;
}
.about#tab3 .contacts-page__form .success-popup .close-btn:hover,
.about#tab3 .contacts-page__form .forbidden-popup .close-btn:hover {
  transform: rotate(90deg);
}
.about#tab3 .contacts-page__form .success-popup__message,
.about#tab3 .contacts-page__form .forbidden-popup__message {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.about#tab3 .contacts-page__form .success-popup__message .icon,
.about#tab3 .contacts-page__form .forbidden-popup__message .icon {
  background: url("../img/success-img.svg") 0 0 no-repeat;
  width: 118px;
  height: 118px;
  margin-bottom: 23px;
}
.about#tab3 .contacts-page__form .success-popup__message .title,
.about#tab3 .contacts-page__form .forbidden-popup__message .title {
  font-size: 21px;
  color: #050A0A;
}
.about#tab3 .contacts-page__form .success-popup__message .text,
.about#tab3 .contacts-page__form .forbidden-popup__message .text {
  margin-top: 12px;
  font-size: 16px;
  line-height: 26px;
  color: #8b8b8b;
  letter-spacing: 0.2px;
}
.about#tab3 .contacts-page__form .success-popup__message .text a,
.about#tab3 .contacts-page__form .forbidden-popup__message .text a {
  color: #149E4C;
}
.about#tab3 .contacts-page__form .success-popup__message .text a:hover,
.about#tab3 .contacts-page__form .forbidden-popup__message .text a:hover {
  text-decoration: underline;
}
.about#tab3 .contacts-page__form .success-popup {
  display: none;
}
.about#tab3 .contacts-page__form .forbidden-popup {
  display: none;
}
.about#tab3 .contacts-page__form .forbidden-popup__message .icon {
  background: url("../img/forbidden-img.svg") 0 0 no-repeat;
}

@media screen and (max-width: 1200px) {
  .about-page__header {
    padding: 0 15px;
    height: 237px;
  }
  .about-page__header .content-center {
    height: 100%;
    align-items: flex-end;
  }
  .about-page__header-wrap {
    height: 100%;
  }
  .about-page__header-img {
    width: 560px;
  }
  .about-page__tabs-item {
    font-size: 18px;
  }
  .about-page__tabs-list {
    height: 70px;
  }

  .achievements {
    padding: 61px 15px 80px;
  }

  .expert-review {
    padding: 93px 15px 70px;
  }
  .expert-review__text {
    width: 48%;
    margin-top: 0;
  }
  .expert-review__photo {
    margin-right: 0;
  }
  .expert-review__photo .photo-text {
    left: auto;
    right: 0;
  }

  .favourite {
    padding: 84px 15px 82px;
  }
  .favourite__list-item {
    width: 165px;
    padding-left: 15px;
  }

  .visitors {
    padding: 88px 15px 80px;
  }

  .seo-text {
    padding: 82px 15px 53px;
  }

  .faq {
    padding: 83px 15px 100px;
  }

  .about#tab1 .about-us {
    padding: 80px 15px;
  }

  .about#tab2 .about-casino {
    padding: 84px 15px 60px;
  }
  .about#tab2 .achievements {
    padding: 61px 15px 67px;
  }
  .about#tab2 .history {
    padding: 60px 15px 40px;
  }
  .about#tab2 .history__list-item {
    width: 46%;
  }
  .about#tab2 .promotions {
    padding: 83px 15px 70px;
  }

  .about#tab3 .contacts-page {
    padding: 80px 15px;
  }
  .about#tab3 .contacts-page__content-left {
    width: 50%;
  }
  .about#tab3 .contacts-page__content-right {
    width: 46%;
  }
}
@media screen and (max-width: 1023px) {
  .title-1 {
    font-size: 36px;
    line-height: 40px;
  }

  .main-subtitle {
    width: 73%;
  }

  .title-2-oto {
    margin-bottom: 15px;
  }

  .btn {
    font-size: 12px;
  }

  .about-page__header .page-title {
    font-size: 36px;
    line-height: 40px;
  }
  .about-page__header .page-subtitle {
    width: 100%;
  }
  .about-page__header-img {
    width: 450px;
  }

  .expert-review {
    padding: 60px 15px 60px;
  }
  .expert-review .content-center {
    align-items: flex-start;
  }
  .expert-review__text {
    width: 50%;
  }
  .expert-review__text .title-1 {
    font-size: 32px;
    line-height: 38px;
  }
  .expert-review__photo {
    width: 330px;
    margin-top: 0;
  }
  .expert-review__photo .photo-text {
    bottom: auto;
    top: 80%;
    font-size: 14px;
    line-height: 20px;
    width: 300px;
    padding: 15px 20px;
  }
  .expert-review__social {
    padding: 10px 0;
  }

  .favourite {
    padding: 50px 15px 60px;
  }
  .favourite__list {
    margin-top: 30px;
  }

  .visitors {
    padding: 50px 15px 60px;
  }
  .visitors__list-item {
    padding: 20px;
  }
  .visitors__list-item-txt {
    font-size: 14px;
    line-height: 20px;
  }
  .visitors__list-item-wrap {
    margin-top: 30px;
    align-items: center;
  }
  .visitors__list-item-name {
    margin-top: 0;
  }
  .visitors__list-item-name p {
    font-size: 16px;
  }
  .visitors__list-item-name p + p {
    font-size: 14px;
    margin-top: 3px;
  }

  .seo-text {
    padding: 52px 15px 35px;
  }

  .faq {
    padding: 56px 15px 60px;
  }
  .faq__wrap {
    margin-top: 30px;
  }
  .faq__list-item-title {
    padding: 16px 45px 13px 20px;
    font-size: 15px;
  }
  .faq__list-item-title:before {
    right: 20px;
  }
  .faq__list-item-text {
    padding: 0 20px 30px;
  }

  .achievements {
    padding: 50px 15px 60px;
  }
  .achievements__list-item {
    padding: 20px;
    margin-right: 10px;
  }
  .achievements__list-item:last-child {
    margin-right: 0;
  }
  .achievements__list-item-number {
    font-size: 35px;
    line-height: 40px;
  }

  .about#tab1 .about-us {
    padding: 50px 15px 60px;
  }
  .about#tab1 .about-us__list-item {
    padding: 20px;
  }
  .about#tab1 .about-us__list-item-txt {
    font-size: 14px;
    line-height: 20px;
  }

  .about#tab2 .about-casino {
    padding: 55px 15px 40px;
  }
  .about#tab2 .about-casino__right {
    margin-left: 60px;
    width: 59%;
  }
  .about#tab2 .achievements {
    padding: 50px 15px 60px;
  }
  .about#tab2 .history {
    padding: 50px 15px 20px;
  }
  .about#tab2 .history__list-item {
    margin-right: 40px;
  }
  .about#tab2 .promotions {
    padding: 50px 15px 60px;
  }
  .about#tab2 .promotions__list {
    flex-wrap: wrap;
    max-width: 600px;
    text-align: left;
    margin: 30px auto 0;
  }
  .about#tab2 .promotions__list-item {
    width: 278px;
    margin: 0 10px 30px;
  }
  .about#tab2 .promotions__list-item:last-child {
    margin-right: 10px;
  }
  .about#tab2 .promotions__list-item-img {
    height: 160px;
  }
  .about#tab2 .promotions__list-item-title {
    font-size: 16px;
    line-height: 20px;
  }
  .about#tab2 .promotions__list-item-date {
    margin-top: 10px;
  }
  .about#tab2 .promotions__info .promotions__list {
    margin-top: 0;
  }
  .about#tab2 .promotions__more-btn {
    max-width: 600px;
    margin-top: 20px;
  }

  .about#tab3 .contacts-page {
    padding: 40px 15px 60px;
  }
  .about#tab3 .contacts-page .title-1,
.about#tab3 .contacts-page .page-subtitle {
    width: 100%;
  }
  .about#tab3 .contacts-page__content {
    flex-direction: column;
  }
  .about#tab3 .contacts-page__content-left {
    width: 100%;
    order: 2;
  }
  .about#tab3 .contacts-page__content-right {
    width: 100%;
    order: 1;
    margin-top: 30px;
  }
}
@media screen and (max-width: 767px) {
  .title-1 {
    font-size: 24px;
    line-height: 32px;
  }

  .about-text {
    font-size: 14px;
    line-height: 20px;
  }

  .about-page .page-subtitle {
    width: 100%;
    font-size: 14px;
    line-height: 20px;
  }
  .about-page__header {
    height: auto;
  }
  .about-page__header .page-title {
    font-size: 28px;
    line-height: 32px;
    text-align: center;
    margin-top: 10px;
  }
  .about-page__header .page-subtitle {
    font-size: 14px;
    line-height: 20px;
    text-align: center;
  }
  .about-page__header .content-center {
    flex-direction: column;
  }
  .about-page__header-wrap {
    width: 100%;
  }
  .about-page__header-img {
    width: 100%;
    margin-top: 27px;
  }
  .about-page__header-img .desk {
    display: none;
  }
  .about-page__header-img .mob {
    display: block;
  }
  .about-page__tabs-list {
    height: 54px;
  }
  .about-page__tabs-item {
    font-size: 16px;
  }
  .about-page__tabs-item a {
    padding-top: 3px;
  }
  .about-page__tabs-item a span {
    display: none;
  }

  .about#tab1 .about-us {
    padding: 35px 15px 35px;
  }
  .about#tab1 .about-us .page-subtitle {
    width: 100%;
    font-size: 14px;
    line-height: 20px;
    margin: 10px auto 0;
  }
  .about#tab1 .about-us__list {
    flex-direction: column;
    margin-top: 25px;
  }
  .about#tab1 .about-us__list-item {
    margin: 0 0 20px 0;
    width: 100%;
    padding: 30px;
  }
  .about#tab1 .about-us__list-item-icon {
    width: 60px;
    height: 60px;
  }
  .about#tab1 .about-us__list-item-icon:before {
    width: 27px;
    height: 27px;
  }

  .achievements {
    padding: 40px 15px;
  }
  .achievements__list {
    flex-direction: column;
    margin-top: 25px;
  }
  .achievements__list-item {
    width: 100%;
    margin: 0 0 20px 0;
    padding: 33px;
  }
  .achievements__list-item-number {
    font-size: 28px;
    line-height: 32px;
  }
  .achievements__list-item-title {
    font-size: 18px;
  }

  .expert-review {
    padding: 50px 15px 90px;
  }
  .expert-review .content-center {
    flex-direction: column;
    align-items: center;
  }
  .expert-review__text {
    width: 100%;
  }
  .expert-review__text .title-1 {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 15px;
  }
  .expert-review__social {
    margin: 30px auto 0;
  }
  .expert-review__photo {
    margin-top: 41px;
    width: 100%;
    max-width: 450px;
  }
  .expert-review__photo .photo-text {
    right: 10px;
  }

  .favourite .favourite__list::-webkit-scrollbar {
    display: none;
  }
  .favourite__list {
    width: 100vw;
    flex-flow: row nowrap;
    justify-content: space-between;
    overflow: scroll;
    padding: 20px 15px;
    margin: 5px -15px -20px;
  }
  .favourite__list-item {
    flex: 0 0 150px;
    margin: 0 15px 0 0;
    min-height: 107px;
    flex-direction: column;
    justify-content: center;
    padding-left: 0;
    border: none;
    box-shadow: 0 4px 20px rgba(228, 228, 228, 0.7);
  }
  .favourite__list-item:last-child {
    margin-right: 0;
  }
  .favourite__list-item-img {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .visitors {
    padding: 40px 15px 50px;
  }
  .visitors .title-1 {
    line-height: 30px;
  }
  .visitors .visitors__list::-webkit-scrollbar {
    display: none;
  }
  .visitors__list {
    width: 100vw;
    flex-flow: row nowrap;
    justify-content: space-between;
    overflow: scroll;
    padding: 20px 15px;
    margin: 5px -15px -20px;
  }
  .visitors__list-item {
    flex: 0 0 308px;
    margin: 0 15px 0 0;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 4px 20px rgba(228, 228, 228, 0.7);
  }
  .visitors__list-item:last-child {
    margin-right: 0;
  }

  .seo-text {
    padding: 40px 15px 20px;
  }
  .seo-text .section-title {
    font-size: 19px;
    line-height: 25px;
  }

  .faq {
    padding: 40px 15px 50px;
  }
  .faq .section-title {
    font-size: 24px;
    line-height: 32px;
  }
  .faq .section-subtitle {
    font-size: 14px;
    line-height: 20px;
    width: 100%;
  }
  .faq__wrap {
    flex-direction: column;
  }
  .faq__list {
    width: 100%;
  }
  .faq__list-item {
    margin-right: 0;
  }
  .faq__list-item-title {
    font-size: 14px;
    padding: 16px 50px 13px 20px;
  }

  .about#tab2 .about-casino {
    padding: 40px 15px;
  }
  .about#tab2 .about-casino .content-center {
    flex-direction: column;
  }
  .about#tab2 .about-casino__left {
    width: 100%;
    order: 2;
    margin-top: 10px;
  }
  .about#tab2 .about-casino__left img {
    width: 200px;
  }
  .about#tab2 .about-casino__right {
    width: 100%;
    order: 1;
    margin-left: 0;
  }
  .about#tab2 .about-casino__right-txt {
    font-size: 14px;
    line-height: 20px;
  }
  .about#tab2 .achievements {
    padding: 40px 15px;
  }
  .about#tab2 .history {
    padding: 40px 15px 30px;
  }
  .about#tab2 .history__list-item {
    width: 100%;
    margin: 0 0 20px 0;
    padding-bottom: 16px;
  }
  .about#tab2 .history__list-item-title {
    padding-left: 35px;
  }
  .about#tab2 .history__list-item-title:before {
    width: 24px;
    height: 24px;
    font-size: 12px;
    padding-top: 3px;
    top: -2px;
  }
  .about#tab2 .history__list-item-txt {
    margin-top: 10px;
  }
  .about#tab2 .promotions {
    padding: 40px 15px 50px;
  }
  .about#tab2 .promotions .promotions__list::-webkit-scrollbar {
    display: none;
  }
  .about#tab2 .promotions__list {
    width: 100vw;
    flex-flow: row nowrap;
    justify-content: space-between;
    overflow: scroll;
    padding: 20px 15px;
    margin: 5px -15px -20px;
    max-width: unset;
  }
  .about#tab2 .promotions__list-item {
    flex: 0 0 254px;
    margin: 0 15px 0 0;
    min-height: 226px;
  }
  .about#tab2 .promotions__list-item:last-child {
    margin-right: 0;
  }
  .about#tab2 .promotions__list-item-img {
    height: 200px;
    border-radius: 3px;
  }
  .about#tab2 .promotions__list-item-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .about#tab2 .promotions__more-btn {
    display: none;
  }

  .about#tab3 .contacts-page__content {
    margin-top: 16px;
  }
  .about#tab3 .contacts-page__content-left {
    margin-top: 20px;
  }
  .about#tab3 .contacts-page__content-left .actions-list {
    margin-top: 15px;
  }
  .about#tab3 .contacts-page__content-left .actions-list__item {
    padding: 27px 0 13px;
  }
  .about#tab3 .contacts-page__content-left .actions-list__item .actions-subtitle {
    font-size: 14px;
    line-height: 20px;
    margin-top: 7px;
  }
  .about#tab3 .contacts-page__content-left .trusted {
    margin-top: 54px;
  }
  .about#tab3 .contacts-page__content-left .trusted__list {
    margin-top: 27px;
  }
  .about#tab3 .contacts-page__content-left .trusted__list-item {
    margin-right: 30px;
  }
  .about#tab3 .contacts-page__form {
    padding: 39px 20px 35px;
  }
  .about#tab3 .contacts-page__form .form-title {
    margin-bottom: 26px;
  }
  .about#tab3 .contacts-page__form label {
    margin-bottom: 18px;
  }
  .about#tab3 .contacts-page__form .wrap-name {
    flex-direction: column;
    justify-content: center;
  }
  .about#tab3 .contacts-page__form .wrap-name label {
    width: 100%;
  }
  .about#tab3 .contacts-page__form .wrap-name .error-input .status-message {
    display: none;
  }
  .about#tab3 .contacts-page__form .upload {
    margin-top: 26px;
  }
  .about#tab3 .contacts-page__form .upload p {
    font-size: 14px;
  }
  .about#tab3 .contacts-page__form .upload p + p {
    font-size: 12px;
  }
  .about#tab3 .contacts-page__form .form-btn {
    margin-top: 24px;
  }
  .about#tab3 .contacts-page__form .mail {
    margin-top: 45px;
  }
  .about#tab3 .contacts-page__form .mail:before {
    margin-top: -4px;
  }
}
@media screen and (max-width: 374px) {
  .about-page .breadcrumbs {
    padding: 20px 0 13px;
  }

  .expert-review__photo .photo-text {
    left: 0;
    right: 0;
    width: 100%;
  }

  .visitors__list-item {
    flex: 0 0 250px;
  }

  .about#tab3 .contacts-page__content-left .trusted__list-item {
    margin-right: 10px;
  }
  .about#tab3 .contacts-page__content-left .trusted__list-item:last-child {
    margin-right: 0;
  }
}

/*# sourceMappingURL=main.css.map */
