@media screen and (max-width: 1200px)
  .about-page
    &__header
      padding: 0 15px
      height: 237px
      .content-center
        height: 100%
        align-items: flex-end
      &-wrap
        height: 100%
      &-img
        width: 560px
    &__tabs
      &-item
        font-size: 18px
      &-list
        height: 70px
  .achievements
    padding: 61px 15px 80px
  .expert-review
    padding: 93px 15px 70px
    &__text
      width: 48%
      margin-top: 0
    &__photo
      margin-right: 0
      .photo-text
        left: auto
        right: 0
  .favourite
    padding: 84px 15px 82px
    &__list
      &-item
        width: 165px
        padding-left: 15px
  .visitors
    padding: 88px 15px 80px
  .seo-text
    padding: 82px 15px 53px
  .faq
    padding: 83px 15px 100px
  .about#tab1
    .about-us
      padding: 80px 15px
  .about#tab2
    .about-casino
      padding: 84px 15px 60px
    .achievements
      padding: 61px 15px 67px
    .history
      padding: 60px 15px 40px
      &__list
        &-item
          width: 46%
    .promotions
      padding: 83px 15px 70px
  .about#tab3
    .contacts-page
      padding: 80px 15px
      &__content
        &-left
          width: 50%
        &-right
          width: 46%

@media screen and (max-width: 1023px)
  .title-1
    font-size: 36px
    line-height: 40px
  .main-subtitle
    width: 73%
  .title-2-oto
    margin-bottom: 15px
  .btn
    font-size: 12px
  .about-page
    &__header
      .page-title
        font-size: 36px
        line-height: 40px
      .page-subtitle
        width: 100%
      &-img
        width: 450px
  .expert-review
    padding: 60px 15px 60px
    .content-center
      align-items: flex-start
    &__text
      width: 50%
      .title-1
        font-size: 32px
        line-height: 38px
    &__photo
      width: 330px
      margin-top: 0
      .photo-text
        bottom: auto
        top: 80%
        font-size: 14px
        line-height: 20px
        width: 300px
        padding: 15px 20px
    &__social
      padding: 10px 0
  .favourite
    padding: 50px 15px 60px
    &__list
      margin-top: 30px
  .visitors
    padding: 50px 15px 60px
    &__list
      &-item
        padding: 20px
        &-txt
          font-size: 14px
          line-height: 20px
        &-wrap
          margin-top: 30px
          align-items: center
        &-name
          margin-top: 0
          p
            font-size: 16px
          p+p
            font-size: 14px
            margin-top: 3px
  .seo-text
    padding: 52px 15px 35px
  .faq
    padding: 56px 15px 60px
    &__wrap
      margin-top: 30px
    &__list
      &-item
        &-title
          padding: 16px 45px 13px 20px
          font-size: 15px
          &:before
            right: 20px
        &-text
          padding: 0 20px 30px
  .achievements
    padding: 50px 15px 60px
    &__list
      &-item
        padding: 20px
        margin-right: 10px
        &:last-child
          margin-right: 0
        &-number
          font-size: 35px
          line-height: 40px
  .about#tab1
    .about-us
      padding: 50px 15px 60px
      &__list
        &-item
          padding: 20px
          &-txt
            font-size: 14px
            line-height: 20px
  .about#tab2
    .about-casino
      padding: 55px 15px 40px
      &__right
        margin-left: 60px
        width: 59%
    .achievements
      padding: 50px 15px 60px
    .history
      padding: 50px 15px 20px
      &__list
        &-item
          margin-right: 40px
    .promotions
      padding: 50px 15px 60px
      &__list
        flex-wrap: wrap
        max-width: 600px
        text-align: left
        margin: 30px auto 0
        &-item
          width: 278px
          margin: 0 10px 30px
          &:last-child
            margin-right: 10px
          &-img
            height: 160px
          &-title
            font-size: 16px
            line-height: 20px
          &-date
            margin-top: 10px
      &__info
        .promotions__list
          margin-top: 0
      &__more-btn
        max-width: 600px
        margin-top: 20px
  .about#tab3
    .contacts-page
      padding: 40px 15px 60px
      .title-1,
      .page-subtitle
        width: 100%
      &__content
        flex-direction: column
        &-left
          width: 100%
          order: 2
        &-right
          width: 100%
          order: 1
          margin-top: 30px


@media screen and (max-width: 767px)
  .title-1
    font-size: 24px
    line-height: 32px
  .about-text
    font-size: 14px
    line-height: 20px
  .about-page
    .page-subtitle
      width: 100%
      font-size: 14px
      line-height: 20px
    &__header
      height: auto
      .page-title
        font-size: 28px
        line-height: 32px
        text-align: center
        margin-top: 10px
      .page-subtitle
        font-size: 14px
        line-height: 20px
        text-align: center
      .content-center
        flex-direction: column
      &-wrap
        width: 100%
      &-img
        width: 100%
        margin-top: 27px
        .desk
          display: none
        .mob
          display: block
    &__tabs
      &-list
        height: 54px
      &-item
        font-size: 16px
        a
          padding-top: 3px
          span
            display: none
  .about#tab1
    .about-us
      padding: 35px 15px 35px
      .page-subtitle
        width: 100%
        font-size: 14px
        line-height: 20px
        margin: 10px auto 0
      &__list
        flex-direction: column
        margin-top: 25px
        &-item
          margin: 0 0 20px 0
          width: 100%
          padding: 30px
          &-icon
            width: 60px
            height: 60px
            &:before
              width: 27px
              height: 27px
  .achievements
    padding: 40px 15px
    &__list
      flex-direction: column
      margin-top: 25px
      &-item
        width: 100%
        margin: 0 0 20px 0
        padding: 33px
        &-number
          font-size: 28px
          line-height: 32px
        &-title
          font-size: 18px
  .expert-review
    padding: 50px 15px 90px
    .content-center
      flex-direction: column
      align-items: center
    &__text
      width: 100%
      .title-1
        font-size: 24px
        line-height: 32px
        margin-bottom: 15px
    &__social
      margin: 30px auto 0
    &__photo
      margin-top: 41px
      width: 100%
      max-width: 450px
      .photo-text
        right: 10px
  .favourite
    .favourite__list::-webkit-scrollbar
      display: none
    &__list
      width: 100vw
      flex-flow: row nowrap
      justify-content: space-between
      overflow: scroll
      padding: 20px 15px
      margin: 5px -15px -20px
      &-item
        flex: 0 0 150px
        margin: 0 15px 0 0
        min-height: 107px
        flex-direction: column
        justify-content: center
        padding-left: 0
        border: none
        box-shadow: 0 4px 20px rgba(228,228,228,.7)
        &:last-child
          margin-right: 0
        &-img
          margin-right: 0
          margin-bottom: 10px
  .visitors
    padding: 40px 15px 50px
    .title-1
      line-height: 30px
    .visitors__list::-webkit-scrollbar
      display: none
    &__list
      width: 100vw
      flex-flow: row nowrap
      justify-content: space-between
      overflow: scroll
      padding: 20px 15px
      margin: 5px -15px -20px
      &-item
        flex: 0 0 308px
        margin: 0 15px 0 0
        flex-direction: column
        justify-content: center
        box-shadow: 0 4px 20px rgba(228,228,228,.7)
        &:last-child
          margin-right: 0
  .seo-text
    padding: 40px 15px 20px
    .section-title
      font-size: 19px
      line-height: 25px
  .faq
    padding: 40px 15px 50px
    .section-title
      font-size: 24px
      line-height: 32px
    .section-subtitle
      font-size: 14px
      line-height: 20px
      width: 100%
    &__wrap
      flex-direction: column
    &__list
      width: 100%
      &-item
        margin-right: 0
        &-title
          font-size: 14px
          padding: 16px 50px 13px 20px
  .about#tab2
    .about-casino
      padding: 40px 15px
      .content-center
        flex-direction: column
      &__left
        width: 100%
        order: 2
        margin-top: 10px
        img
          width: 200px
      &__right
        width: 100%
        order: 1
        margin-left: 0
        &-txt
          font-size: 14px
          line-height: 20px
    .achievements
      padding: 40px 15px
    .history
      padding: 40px 15px 30px
      &__list
        &-item
          width: 100%
          margin: 0 0 20px 0
          padding-bottom: 16px
          &-title
            padding-left: 35px
            &:before
              width: 24px
              height: 24px
              font-size: 12px
              padding-top: 3px
              top: -2px
          &-txt
            margin-top: 10px
    .promotions
      padding: 40px 15px 50px
      .promotions__list::-webkit-scrollbar
        display: none
      &__list
        width: 100vw
        flex-flow: row nowrap
        justify-content: space-between
        overflow: scroll
        padding: 20px 15px
        margin: 5px -15px -20px
        max-width: unset
        &-item
          flex: 0 0 254px
          margin: 0 15px 0 0
          min-height: 226px
          &:last-child
            margin-right: 0
          &-img
            height: 200px
            border-radius: 3px
            img
              width: 100%
              height: 100%
              object-fit: cover
      &__more-btn
        display: none
  .about#tab3
    .contacts-page
      &__content
        margin-top: 16px
        &-left
          margin-top: 20px
          .actions-list
            margin-top: 15px
            &__item
              padding: 27px 0 13px
              .actions-subtitle
                font-size: 14px
                line-height: 20px
                margin-top: 7px
          .trusted
            margin-top: 54px
            &__list
              margin-top: 27px
              &-item
                margin-right: 30px
      &__form
        padding: 39px 20px 35px
        .form-title
          margin-bottom: 26px
        label
          margin-bottom: 18px
        .wrap-name
          flex-direction: column
          justify-content: center
          label
            width: 100%
          .error-input
            .status-message
              display: none
        .upload
          margin-top: 26px
          p
            font-size: 14px
          p+p
            font-size: 12px
        .form-btn
          margin-top: 24px
        .mail
          margin-top: 45px
          &:before
            margin-top: -4px

@media screen and (max-width: 374px)
  .about-page
    .breadcrumbs
      padding: 20px 0 13px
  .expert-review
    &__photo
      .photo-text
        left: 0
        right: 0
        width: 100%
  .visitors
    &__list
      &-item
        flex: 0 0 250px
  .about#tab3
    .contacts-page
      &__content
        &-left
          .trusted
            &__list
              &-item
                margin-right: 10px
                &:last-child
                  margin-right: 0