$green-default: #149E4C
$green-hover: #149448
$green-pressed: #0C7838
$dark: #050A0A
$gray-dark: #363636
$gray-semi: #8b8b8b
$gray-light: #ebebeb
$light: #f8f8f8
$yellow-bg: #fef3e2
$light-green: #F0F9F4
$white: #FFFFFF
$red: #EB1C30

$font-gilroy-regular: Gilroy-Regular, sans-serif
$font-gilroy-medium: Gilroy-Medium, sans-serif
$font-gilroy-semibold: Gilroy-SemiBold, sans-serif
$font-otomarine: Otomarine, sans-serif

body
  font-family: $font-gilroy-medium
  -webkit-tap-highlight-color: transparent
  overflow-x: hidden
  overscroll-behavior: none
  img
    max-width: 100%
    height: auto

h1,h2,h3
  font-weight: 500

.content-center
  max-width: 1170px
  margin: 0 auto

.btn
  font-size: 14px
  color: $white
  transition: all .3s linear
  display: inline-block
  border-radius: 2px

.box-shadow
  box-shadow: 0 4px 20px rgba(228,228,228,.5)

.green-btn
  background-color: $green-default
  &:hover
    background-color: $green-hover

.border-btn
  color: $green-default
  border: 1px solid $gray-light
  &:hover
    border-color: $green-default

.link
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  z-index: 1

.title-1
  font-size: 40px
  line-height: 45px
  color: $dark
  font-family: $font-otomarine

.about-text
  font-size: 16px
  line-height: 22px
  color: $gray-semi
  text-align: left
  letter-spacing: 0.003em
  font-family: $font-gilroy-regular
  &__text
    margin-bottom: 26px
  &__list
    margin-bottom: 25px
    li
      list-style-type: disc
      list-style-position: inside

.form-subscribe
  input[type=email]
    background: $white
    border: none
    border-radius: 2px
    padding: 18px 20px 15px
    color: $gray-dark
    margin-right: 16px
    height: 46px
    width: 76.5%
  .privacy
    margin-top: 31px
    display: block
    font-size: 12px
    color: #7f7f7f
    a
      color: $white
      &:hover
        text-decoration: underline

input[type="search" i]::-webkit-search-cancel-button
  display: none !important

input[type=search],
input[type=email]
  font-size: 14px
  font-family: $font-gilroy-regular
  border-radius: 4px
  width: 100%
  outline: none
  -webkit-appearance: none !important
  +placeholder
    font-size: 14px
    color: $gray-semi

.breadcrumbs
  padding: 20px 0 23px
  li
    display: inline-block
    margin-right: 10px
    font-size: 12px
    color: $gray-semi
    &:last-child
      &:after
        display: none
    &:after
      content: ''
      background: $gray-semi
      width: 15px
      height: 1px
      display: inline-block
      vertical-align: top
      margin: 5px 0 0 10px
    a
      color: $gray-semi
      &:hover
        text-decoration: underline

.about-page
  &__header
    background: $yellow-bg
    height: 280px
    .content-center
      display: flex
      justify-content: space-between
    .page-title
      margin-top: 20px
    &-wrap
      width: 438px
    &-img
      width: 658px
      display: flex
      align-items: flex-end
      justify-content: center
      .mob
        display: none
  .page-title
    font-size: 44px
    line-height: 52px
    color: $dark
    font-family: $font-otomarine
    letter-spacing: -0.01em
  .page-subtitle
    font-family: $font-gilroy-regular
    font-size: 16px
    line-height: 22px
    color: $gray-semi
    margin-top: 10px
  &__tabs
    border-bottom: 1px solid #E2E7ED
    .content-center
      margin-bottom: -1px
    &-list
      display: flex
      height: 86px
    &-item
      width: 33.3%
      font-size: 20px
      line-height: 25px
      &:hover
        a
          color: $green-default
          border-color: $green-default
      a
        color: $dark
        border-bottom: 2px solid transparent
        display: flex
        justify-content: center
        align-items: center
        height: 100%
      .active
        color: $green-default
        border-color: $green-default

#tabsWrap
  .about
    display: none

#tabsWrap
  .about.active
    display: block

.about#tab1
  .about-us
    text-align: center
    padding: 80px 0
    background: $light
    .page-subtitle
      width: 62%
      margin: 18px auto 0
    &__list
      display: flex
      margin-top: 40px
      &-item
        width: 32.1%
        background: $white
        border-radius: 6px
        padding: 36px
        margin-right: 20px
        &:nth-child(3)
          margin-right: 0
        &-icon
          width: 76px
          height: 76px
          background: rgba($green-default,.1)
          border-radius: 50%
          overflow: hidden
          display: flex
          justify-content: center
          align-items: center
          margin: auto
          &:before
            content: ""
            width: 34px
            height: 34px
        &-title
          margin-top: 22px
          font-size: 20px
          line-height: 25px
          color: $dark
        &-txt
          margin-top: 7px
          font-family: $font-gilroy-regular
          font-size: 16px
          line-height: 22px
          color: $gray-semi
        &:nth-child(1)
          .about-us__list-item-icon
            &:before
              content: ""
              background: url("../img/about-icon-1.svg") no-repeat 0 0/contain
        &:nth-child(2)
          .about-us__list-item-icon
            &:before
              content: ""
              background: url("../img/about-icon-2.svg") no-repeat 0 0/contain
        &:nth-child(3)
          .about-us__list-item-icon
            &:before
              content: ""
              background: url("../img/about-icon-3.svg") no-repeat 0 0/contain
              height: 30px

.achievements
  padding: 61px 0 80px
  text-align: center
  &__list
    margin-top: 40px
    display: flex
    &-item
      width: 24%
      background: $white
      border-radius: 6px
      padding: 45px
      margin-right: 20px
      &:nth-child(4)
        margin-right: 0
      &-number
        font-family: $font-otomarine
        font-size: 40px
        line-height: 45px
        color: $green-default
      &-title
        margin-top: 16px
        font-size: 20px
        color: $dark
      &-txt
        margin-top: 12px
        font-family: $font-gilroy-regular
        font-size: 14px
        line-height: 20px
        color: $gray-semi

.expert-review
  background: $light
  padding: 93px 0 70px
  .content-center
    display: flex
    justify-content: space-between
    align-items: flex-start
  &__text
    width: 45%
    margin-top: 64px
    .title-1
      margin-bottom: 28px
      letter-spacing: -0.02em
    .about-text
      margin-bottom: 25px
    .more-info
      margin-top: 18px
      padding: 16px 43px 13px
  &__social
    margin-top: 43px
    border: 1px solid $gray-light
    border-radius: 2px
    display: flex
    padding: 18px 0
    max-width: 497px
    &-item
      border-right: 1px solid $gray-light
      width: 25%
      display: flex
      justify-content: center
      align-items: center
      padding: 9px 0
      &:last-child
        border-right: 0
      a
        background: $gray-semi
        mask-repeat: no-repeat
        mask-size: contain
        transition: .3s linear
        width: 24px
        height: 24px
        &:hover
          background: $green-default
      .fb
        mask-image: url("../img/footer-facebook.svg")
      .insta
        mask-image: url("../img/footer-insta.svg")
      .linkedin
        mask-image: url("../img/footer-linkedin.svg")
      .twitter
        mask-image: url("../img/footer-twitter.svg")
  &__photo
    width: 445px
    position: relative
    margin-right: 74px
    margin-top: -23px
    .photo-text
      width: 321px
      font-family: $font-gilroy-regular
      background: $white
      border-radius: 6px
      position: absolute
      bottom: -1px
      left: 204px
      z-index: 1
      font-size: 16px
      line-height: 22px
      color: $gray-semi
      background: $white
      padding: 21px 28px

.favourite
  padding: 84px 0 82px
  text-align: center
  &__list
    margin-top: 39px
    display: flex
    justify-content: center
    flex-wrap: wrap
    &-item
      width: 195px
      height: 90px
      border: 1px solid $gray-light
      display: flex
      align-items: center
      background: $white
      margin: 0 -1px -1px 0
      padding-left: 29px
      &-img
        width: 40px
        height: 40px
        border-radius: 50%
        margin-right: 15px
        flex-shrink: 0
      &-name
        font-size: 14px
        color: $dark

.visitors
  background: $light
  padding: 88px 0 80px
  text-align: center
  &__list
    margin-top: 40px
    display: flex
    text-align: left
    &-item
      width: 32.1%
      background: $white
      border-radius: 6px
      padding: 46px 43px
      margin-right: 20px
      &:nth-child(3)
        margin-right: 0
      &-txt
        font-family: $font-gilroy-regular
        font-size: 16px
        line-height: 26px
        color: $gray-semi
      &-wrap
        margin-top: 63px
        display: flex
      &-img
        flex-shrink: 0
        width: 56px
        height: 56px
        border-radius: 50%
        overflow: hidden
        margin-right: 17px
      &-name
        margin-top: 2px
        p
          font-size: 18px
          color: $dark
        p+p
          font-size: 16px
          color: $gray-semi
          font-family: $font-gilroy-regular
          margin-top: 11px

.seo-text
  padding: 82px 0 53px
  .title-1
    margin-bottom: 16px

.faq
  padding: 83px 0 100px
  text-align: center
  background: $light
  .section-title
    margin-bottom: 12px
    font-size: 44px
    line-height: 52px
    color: $dark
    font-family: $font-otomarine
  .section-subtitle
    width: 63%
    font-family: $font-gilroy-regular
    font-size: 16px
    line-height: 22px
    color: $gray-semi
    margin: 0 auto
  &__wrap
    display: flex
    justify-content: space-between
    margin-top: 40px
  &__list
    width: 49.5%
    &-item
      list-style: none
      border-radius: 3px
      margin-bottom: 10px
      background: $white
      text-align: left
      cursor: pointer
      transition: box-shadow .2s linear
      &:hover
        box-shadow: 0 4px 30px rgba(228,228,228,1)
      summary::-webkit-details-marker
        display: none
      > summary
        list-style: none
      &[open]
        box-shadow: 0 4px 30px rgba(228,228,228,1)
        > summary:before
          transform: rotate(180deg)
      &-title
        font-size: 16px
        color: $dark
        outline: none
        position: relative
        padding: 27px 60px 24px 30px
        &:before
          content: ""
          mask-image: url("../img/arrow-down.svg")
          mask-size: 14px 9px
          background-repeat: no-repeat
          background-color: $green-default
          width: 14px
          height: 9px
          display: block
          position: absolute
          top: 45%
          right: 28px
      &-text
        font-size: 14px
        line-height: 20px
        color: $gray-semi
        padding: 0 30px 30px

.about#tab2
  padding: 0
  .expert-review
    text-align: left
    &__text
      margin-top: 0
  .about-casino
    padding: 84px 0 60px
    .content-center
      display: flex
      justify-content: flex-start
      align-items: center
    &__left
      width: 33%
      margin-top: -18px
    &__right
      width: 43%
      margin-left: 165px
      &-title
        margin-bottom: 20px
      &-txt
        font-family: $font-gilroy-regular
        font-size: 16px
        line-height: 22px
        color: $gray-semi
        margin-bottom: 20px
  .achievements
    padding: 61px 0 67px
    background: $light
  .history
    padding: 60px 0 40px
    text-align: center
    &__list
      margin-top: 40px
      display: flex
      flex-wrap: wrap
      text-align: left
      &-item
        width: 47%
        margin-right: 60px
        margin-bottom: 48px
        padding-bottom: 30px
        border-bottom: 1px solid #D7D7D7
        &:nth-child(even)
          margin-right: 0
        &:nth-child(1)
          .history__list-item-title
            &:before
              content: "1"
        &:nth-child(2)
          .history__list-item-title
            &:before
              content: "2"
        &:nth-child(3)
          .history__list-item-title
            &:before
              content: "3"
        &:nth-child(4)
          .history__list-item-title
            &:before
              content: "4"
        &-title
          font-size: 18px
          line-height: 23px
          color: $dark
          padding-left: 39px
          position: relative
          &:before
            background: rgba($green-default,.12)
            width: 30px
            height: 30px
            border-radius: 50%
            color: $green-default
            font-size: 16px
            display: flex
            justify-content: center
            align-items: center
            box-sizing: border-box
            padding-top: 2px
            position: absolute
            top: -5px
            left: 0
        &-txt
          font-family: $font-gilroy-regular
          font-size: 14px
          line-height: 20px
          margin-top: 22px
          color: $gray-semi
  .promotions
    background: $light
    padding: 83px 0 70px
    text-align: center
    &__info
      display: none
    .toggle-list
      display: block
    &__list
      margin-top: 32px
      display: flex
      text-align: left
      &-item
        width: 24%
        margin-right: 20px
        &:nth-child(4n)
          margin-right: 0
        &-img
          border-radius: 6px
          overflow: hidden
          height: 160px
        &-title
          font-size: 18px
          line-height: 26px
          color: $dark
          display: inline-block
          margin-top: 21px
          &:hover
            text-decoration: underline
        &-date
          font-size: 12px
          color: $gray-semi
          margin-top: 22px
    &__more-btn
      margin-top: 45px
      padding: 16px 80px 13px
      width: 100%
      text-align: center
      cursor: pointer
  .faq
    background: $white
.about#tab3
  padding: 0
  background: $light
  .contacts-page
    padding: 80px 0
    .title-1
      width: 53.5%
    .page-subtitle
      width: 53.5%
      margin: 18px 0 0
    &__content
      display: flex
      justify-content: space-between
      &-left
        width: 53.5%
        .actions-list
          margin-top: 30px
          &__item
            padding: 22px 0 24px
            border-bottom: 1px solid #d7d7d7
            position: relative
            &:hover
              .actions-title
                color: $green-default
              .arrow
                background-color: $dark
            .actions-title
              font-size: 18px
              color: $dark
            .actions-subtitle
              font-size: 14px
              color: $gray-semi
              font-family: $font-gilroy-regular
              margin-top: 9px
              letter-spacing: 0.2px
              width: 93%
            .arrow
              mask-image: url("../img/arrow-right.svg")
              background-color: #BFBFBF
              width: 8px
              height: 11px
              position: absolute
              top: 46%
              right: 0
        .trusted
          margin-top: 43px
          &__title
            font-family: $font-gilroy-semibold
            font-size: 12px
            color: $dark
            text-transform: uppercase
          &__list
            margin-top: 28px
            display: flex
            &-item
              margin-right: 40px
              height: 60px
              img
                width: auto
                height: 100%
              &:last-child
                margin-right: 0
      &-right
        width: 496px
        margin-top: -130px
    &__form
      padding: 40px 40px 48px
      background: $white
      position: relative
      .form-title
        font-size: 20px
        color: $dark
        margin-bottom: 34px
      .wrap-name
        display: flex
        justify-content: space-between
        label
          width: 48%
      label
        font-size: 12px
        color: $gray-semi
        letter-spacing: 0.2px
        display: flex
        flex-direction: column
        -webkit-tap-highlight-color: rgba(0,0,0,0)
        margin-bottom: 23px
        position: relative
        &:focus,
        &:active
          outline: none
        input
          border: 1px solid #EBEBEB
          font-family: $font-gilroy-regular
          border-radius: 5px
          outline: none
          font-size: 14px
          color: $dark
          padding: 11px 42px 9px 16px
          margin-top: 8px
          &:focus,
          &:active
            outline: none
            border-color: rgba(16,16,16,.3)
        .status-message
          position: absolute
          top: 120%
          left: 0
          right: 0
          background: $white
          box-shadow: 0 0 20px rgba(0,0,0,.15)
          width: 100%
          padding: 16px 19px 12px
          z-index: 0
          opacity: 0
          transform: translateY(50px)
          transition: transform .5s ease-in-out, opacity .5s ease-in-out
          &:before
            content: ''
            width: 0
            height: 0
            border: 6px solid transparent
            border-top-width: 0
            border-bottom-color: $white
            position: absolute
            top: -6px
            right: 18px
          p
            font-size: 14px
            color: $dark
          p+p
            font-family: $font-gilroy-regular
            font-size: 12px
            line-height: 20px
            color: $gray-semi
            margin-top: 3px
            letter-spacing: 0.2px
      .error-input
        input
          border-color: $red
          &:focus,
          &:active
            border-color: $red
        .show
          opacity: 1
          z-index: 1
          transform: translateY(0)
        &:after
          content: ''
          background: url("../img/error-icon.svg") 0 0 no-repeat
          width: 18px
          height: 16px
          position: absolute
          bottom: 14px
          right: 15px
      .upload
        margin-top: 31px
        padding-left: 40px
        position: relative
        &:before
          content: ''
          background: url("../img/file-icon.svg") 0 0 no-repeat
          width: 16px
          height: 17px
          position: absolute
          top: 2px
          left: 0
        p
          font-size: 16px
          a
            color: $dark
            &:hover
              color: $red
        p+p
          margin-top: 6px
          font-family: $font-gilroy-regular
          font-size: 14px
          color: $gray-semi
      .form-btn
        margin-top: 29px
        font-family: $font-gilroy-medium
        width: 100%
        border: none
        border-radius: 4px
        padding: 13px 0 12px
        font-size: 14px
        cursor: pointer
      .mail
        margin-top: 43px
        font-size: 16px
        color: $gray-semi
        display: inline-block
        font-family: $font-gilroy-regular
        &:before
          content: ''
          background: url("../img/mail-icon.svg") 0 0 no-repeat
          width: 28px
          height: 25px
          display: inline-block
          vertical-align: top
          margin: -2px 17px 0 0
        &:hover
          color: $dark
      .success-popup,
      .forbidden-popup
        background: $white
        position: absolute
        top: 0
        bottom: 0
        left: 0
        right: 0
        z-index: 2
        padding: 87px 40px 46px
        flex-direction: column
        justify-content: space-between
        .close-btn
          background: url("../img/close-icon.svg") 0 0 no-repeat
          width: 13px
          height: 13px
          position: absolute
          top: 30px
          right: 30px
          cursor: pointer
          transition: transform .4s ease-in-out
          &:hover
            transform: rotate(90deg)
        &__message
          display: flex
          flex-direction: column
          align-items: center
          text-align: center
          .icon
            background: url("../img/success-img.svg") 0 0 no-repeat
            width: 118px
            height: 118px
            margin-bottom: 23px
          .title
            font-size: 21px
            color: $dark
          .text
            margin-top: 12px
            font-size: 16px
            line-height: 26px
            color: $gray-semi
            letter-spacing: 0.2px
            a
              color: $green-default
              &:hover
                text-decoration: underline
      .success-popup
        display: none
      .forbidden-popup
        display: none
        &__message
          .icon
            background: url("../img/forbidden-img.svg") 0 0 no-repeat