.about-page
  .about-page__header
    .content-center
      .about-page__header-wrap
        ul.breadcrumbs
          li
            a(href="#") Home Page
          li Category
        h1.page-title About India Casino
        p.page-subtitle.
          On this site, you will find all the information
          you need in order to choose a gambling site for your
      .about-page__header-img
        img(src="img/about-top-1.png" alt="").desk
        img(src="img/about-top-1-mob.png" alt="").mob
  .about-page__content
    .about-page__tabs
      .content-center
        .about-page__tabs-list#tabNav
          .about-page__tabs-item
            a(href="#tab1").active About #[span Company]
          .about-page__tabs-item
            a(href="#tab2") #[span About] Author
          .about-page__tabs-item
            a(href="#tab3") Contacts
    #tabsWrap
      .about.active#tab1
        .about-us
          .content-center
            .about-us__title.title-1 About Us
            .about-us__subtitle.page-subtitle.
              Every casino review we conduct is guided by our
              methodical 25-step process. Gaming variation, banking,
              bonuses and loyalty, customer
            .about-us__list
              .about-us__list-item.box-shadow
                .about-us__list-item-icon
                .about-us__list-item-title Who we are?
                .about-us__list-item-txt.
                  MyCasino was started by a group of Indian gamblers
                  with a passion for spreading the online gambling
                  experience in India. Our goal is
              .about-us__list-item.box-shadow
                .about-us__list-item-icon
                .about-us__list-item-title What we do?
                .about-us__list-item-txt.
                  MyCasino was started by a group of Indian gamblers
                  with a passion for spreading the online gambling
                  experience in India. Our goal is
              .about-us__list-item.box-shadow
                .about-us__list-item-icon
                .about-us__list-item-title Why Us?
                .about-us__list-item-txt.
                  MyCasino was started by a group of Indian gamblers
                  with a passion for spreading the online gambling
                  experience in India. Our goal is
        .achievements
          .content-center
            .achievements__title.title-1 Our achievements
            .achievements__subtitle.page-subtitle.
              The best new casinos added to our list, included
            .achievements__list
              .achievements__list-item.box-shadow
                .achievements__list-item-number 5,234
                .achievements__list-item-title Projects
                .achievements__list-item-txt.
                  Of “high-performing” level are led by a
                  certified project manager
              .achievements__list-item.box-shadow
                .achievements__list-item-number 3,400+
                .achievements__list-item-title Hours
                .achievements__list-item-txt.
                  That meets quality standards required by
                  our users
              .achievements__list-item.box-shadow
                .achievements__list-item-number 24/7
                .achievements__list-item-title Support
                .achievements__list-item-txt.
                  Actively engage team members that finishes
                  on time
              .achievements__list-item.box-shadow
                .achievements__list-item-number 2000+
                .achievements__list-item-title Support
                .achievements__list-item-txt.
                  Actively engage team members that finishes
                  on time
        .expert-review
          .content-center
            .expert-review__text
              p.title-1 Hello, I am the author of the “India Casino”
              p.about-text.
                The best new casinos added to our listing, including
                detailed casino reviews and ratings, bonuses, promotions,
                and experiences by real players right at your fingertips.
                Here you can find the top online casinos we have included
                in our database just recently.
              p.about-text.
                We update this list frequently so remember to keep an eye
                on it and don’t miss out on a chance to try your luck at
                some of the most amazing casinos in the world.
              a(href="#" target="_blank").btn.green-btn.more-info View more info
            .expert-review__photo
              .photo-text.
                The best new casinos added to our listing, including
                detailed casino listing, including detailed casino
                reviews and ratings, bonuses
              img(src="img/expert-photo.png" alt="Ivan Gucev")
        .favourite
          .content-center
            h2.title-1.favourite__title Our Favourite Casinos
            p.favourite__subtitle.page-subtitle The best new casinos added to our list, included
            ul.favourite__list
              li.favourite__list-item
                .favourite__list-item-img
                  img(src="img/new-casino-5.png" alt="")
                .favourite__list-item-name Bit Starz
              li.favourite__list-item
                .favourite__list-item-img
                  img(src="img/new-casino-3.png" alt="")
                .favourite__list-item-name Bit Starz
              li.favourite__list-item
                .favourite__list-item-img
                  img(src="img/new-casino-4.png" alt="")
                .favourite__list-item-name Bit Starz
              li.favourite__list-item
                .favourite__list-item-img
                  img(src="img/new-casino-1.png" alt="")
                .favourite__list-item-name Bit Starz
              li.favourite__list-item
                .favourite__list-item-img
                  img(src="img/new-casino-7.png" alt="")
                .favourite__list-item-name Bit Starz
              li.favourite__list-item
                .favourite__list-item-img
                  img(src="img/new-casino-8.png" alt="")
                .favourite__list-item-name Bit Starz
              li.favourite__list-item
                .favourite__list-item-img
                  img(src="img/new-casino-2.png" alt="")
                .favourite__list-item-name Bit Starz
              li.favourite__list-item
                .favourite__list-item-img
                  img(src="img/new-casino-7.png" alt="")
                .favourite__list-item-name Bit Starz
              li.favourite__list-item
                .favourite__list-item-img
                  img(src="img/new-casino-3.png" alt="")
                .favourite__list-item-name Bit Starz
              li.favourite__list-item
                .favourite__list-item-img
                  img(src="img/new-casino-1.png" alt="")
                .favourite__list-item-name Bit Starz
              li.favourite__list-item
                .favourite__list-item-img
                  img(src="img/new-casino-6.png" alt="")
                .favourite__list-item-name Bit Starz
              li.favourite__list-item
                .favourite__list-item-img
                  img(src="img/new-casino-5.png" alt="")
                .favourite__list-item-name Bit Starz
        .visitors
          .content-center
            .visitors__title.title-1 What our visitors say about us
            .visitors__list
              .visitors__list-item
                .visitors__list-item-txt.
                  Our team has been working at frispes for almost
                  2 months because our office still closed. During
                  working at frispes, we feel a new experience, we
                  can feel working with a beautiful, modern, and
                  comfortable space. And cozy cafe with
                .visitors__list-item-wrap
                  .visitors__list-item-img
                    img(src="img/visitor-1.png" alt="")
                  .visitors__list-item-name
                    p Pedro Ibanez
                    p Newbie
              .visitors__list-item
                .visitors__list-item-txt.
                  Our team has been working at frispes for almost
                  2 months because our office still closed. During
                  working at frispes, we feel a new experience, we
                  can feel working with a beautiful, modern, and
                  comfortable space. And cozy cafe with
                .visitors__list-item-wrap
                  .visitors__list-item-img
                    img(src="img/visitor-2.png" alt="")
                  .visitors__list-item-name
                    p Pedro Ibanez
                    p Newbie
              .visitors__list-item
                .visitors__list-item-txt.
                  Our team has been working at frispes for almost
                  2 months because our office still closed. During
                  working at frispes, we feel a new experience, we
                  can feel working with a beautiful, modern, and
                  comfortable space. And cozy cafe with
                .visitors__list-item-wrap
                  .visitors__list-item-img
                    img(src="img/visitor-3.png" alt="")
                  .visitors__list-item-name
                    p Pedro Ibanez
                    p Newbie
        .seo-text.about-text
          .content-center
            h2.title-1 Top online casinos for India in 2021
            p.about-text__text.
              The best new casinos added to our listing, including
              detailed casino reviews and ratings, bonuses, promotions,
              and experiences by real players right at your fingertips.
              Here you can find the top online casinos we have included
              in our database just recently. We update this list
              frequently so remember to keep an eye on it and don’t
              miss out on a chance to try your luck at some of the most
              amazing casinos in the world.
            p.about-text__text.
              With a competitive market like the online casino industry,
              you cay never get bored for the choice of online casinos
              is incredibly vast. There are new online casinos emerging
              every day, so there is always a new place where you can
              try your luck.
        .faq
          .content-center
            h2.section-title FAQ
            p.section-subtitle.
              The best new casinos added to our listing, including detailed
              casino reviews and ratings, bonuses, promotions.
            .faq__wrap
              .faq__list
                details.faq__list-item.box-shadow
                  summary.faq__list-item-title What age do you need to be to gamble online?
                  p.faq__list-item-text.
                    There are some warning signs if you're concerned that you or
                    someone you know may have a gambling addiction. If you're hiding
                    your habit from other people, maxing out your bank account and
                    getting into debt as a result of your real money gambling the
                    chances are you may be addicted. Likewise, if you're bunking off
                    work to gamble, sneaking around to gamble, and thinking about real
                    money gaming 24/7 the likelihood is your hobby has turned into a
                    habit and you should seek help.
                details.faq__list-item.box-shadow
                  summary.faq__list-item-title What kinds of games are available?
                  p.faq__list-item-text.
                    There are some warning signs if you're concerned that you or
                    someone you know may have a gambling addiction. If you're hiding
                    your habit from other people, maxing out your bank account and
                    getting into debt as a result of your real money gambling the
                    chances are you may be addicted. Likewise, if you're bunking off
                    work to gamble, sneaking around to gamble, and thinking about real
                    money gaming 24/7 the likelihood is your hobby has turned into a
                    habit and you should seek help.
                details.faq__list-item.box-shadow
                  summary.faq__list-item-title.
                    How do I know if I'm addicted to gambling?
                  p.faq__list-item-text.
                    Test text
                details.faq__list-item.box-shadow
                  summary.faq__list-item-title.
                    What age do you need to be to gamble online?
                  p.faq__list-item-text.
                    Test text
                details.faq__list-item.box-shadow
                  summary.faq__list-item-title.
                    What age do you need to be to gamble online?
                  p.faq__list-item-text.
                    Test text
              .faq__list
                details.faq__list-item.box-shadow
                  summary.faq__list-item-title What age do you need to be to gamble online?
                  p.faq__list-item-text.
                    There are some warning signs if you're concerned that you or
                    someone you know may have a gambling addiction. If you're hiding
                    your habit from other people, maxing out your bank account and
                    getting into debt as a result of your real money gambling the
                    chances are you may be addicted. Likewise, if you're bunking off
                    work to gamble, sneaking around to gamble, and thinking about real
                    money gaming 24/7 the likelihood is your hobby has turned into a
                    habit and you should seek help.
                details.faq__list-item.box-shadow
                  summary.faq__list-item-title What kinds of games are available?
                  p.faq__list-item-text.
                    There are some warning signs if you're concerned that you or
                    someone you know may have a gambling addiction. If you're hiding
                    your habit from other people, maxing out your bank account and
                    getting into debt as a result of your real money gambling the
                    chances are you may be addicted. Likewise, if you're bunking off
                    work to gamble, sneaking around to gamble, and thinking about real
                    money gaming 24/7 the likelihood is your hobby has turned into a
                    habit and you should seek help.
                details.faq__list-item.box-shadow
                  summary.faq__list-item-title.
                    How do I know if I'm addicted to gambling?
                  p.faq__list-item-text.
                    Test text
                details.faq__list-item.box-shadow
                  summary.faq__list-item-title.
                    What age do you need to be to gamble online?
                  p.faq__list-item-text.
                    Test text
                details.faq__list-item.box-shadow
                  summary.faq__list-item-title.
                    What age do you need to be to gamble online?
                  p.faq__list-item-text.
                    Test text
      .about#tab2
        .expert-review
          .content-center
            .expert-review__text
              p.title-1 Hello, I am the author of the “India Casino”
              p.about-text.
                The best new casinos added to our listing, including
                detailed casino reviews and ratings, bonuses, promotions,
                and experiences by real players right at your fingertips.
                Here you can find the top online casinos we have included
                in our database just recently.
              p.about-text.
                We update this list frequently so remember to keep an eye
                on it and don’t miss out on a chance to try your luck at
                some of the most amazing casinos in the world.
              ul.expert-review__social
                li.expert-review__social-item
                  a(href="#" target="_blank").fb
                li.expert-review__social-item
                  a(href="#" target="_blank").twitter
                li.expert-review__social-item
                  a(href="#" target="_blank").linkedin
                li.expert-review__social-item
                  a(href="#" target="_blank").insta
            .expert-review__photo
              .photo-text.
                The best new casinos added to our listing, including
                detailed casino listing, including detailed casino
                reviews and ratings, bonuses
              img(src="img/expert-photo.png" alt="Ivan Gucev")
        .about-casino
          .content-center
            .about-casino__left
              img(src="img/about-casino.svg" alt="India casino")
            .about-casino__right
              .about-casino__right-title.title-1.
                Agency Casino reviews # 1 in India
              .about-casino__right-txt.
                The best new casinos added to our listing,
                including detailed casino listing, including
                detailed casino reviews and ratings, bonuses,
                promotions, and experiences by real.
              .about-casino__right-txt.
                We update this list frequently so remember to
                keep an eye on it and remember to keep an eye
                on it and don’t miss out on a chance to try
                your luck at some of the most amazing.
        .achievements
          .content-center
            .achievements__title.title-1 My achievements
            .achievements__subtitle.page-subtitle.
              The best new casinos added to our list, included
            .achievements__list
              .achievements__list-item.box-shadow
                .achievements__list-item-number 5,234
                .achievements__list-item-title Projects
                .achievements__list-item-txt.
                  Of “high-performing” level are led by a
                  certified project manager
              .achievements__list-item.box-shadow
                .achievements__list-item-number 3,400+
                .achievements__list-item-title Hours
                .achievements__list-item-txt.
                  That meets quality standards required by
                  our users
              .achievements__list-item.box-shadow
                .achievements__list-item-number 24/7
                .achievements__list-item-title Support
                .achievements__list-item-txt.
                  Actively engage team members that finishes
                  on time
              .achievements__list-item.box-shadow
                .achievements__list-item-number 2000+
                .achievements__list-item-title Support
                .achievements__list-item-txt.
                  Actively engage team members that finishes
                  on time
        .history
          .content-center
            .history__title.title-1 History Of My Sucess
            .history__list
              .history__list-item
                .history__list-item-title Club in the university
                .history__list-item-txt.
                  There's nothing worse than winning a huge jackpot
                  and then sitting and waiting for weeks or even
                  months before you can claim it. You'll want an
                  online casino with a fast payout time. There's
                  nothing worse than winning a huge jackpot and
                  then sitting and
              .history__list-item
                .history__list-item-title Meeting with the legendary player
                .history__list-item-txt.
                  There's nothing worse than winning a huge jackpot
                  and then sitting and waiting for weeks or even
                  months before you can claim it. You'll want an
                  online casino with a fast payout time. There's
                  nothing worse than winning a huge jackpot and
                  then sitting and
              .history__list-item
                .history__list-item-title Book a Demo
                .history__list-item-txt.
                  There's nothing worse than winning a huge jackpot
                  and then sitting and waiting for weeks or even
                  months before you can claim it. You'll want an
                  online casino with a fast payout time. There's
                  nothing worse than winning a huge jackpot and
                  then sitting and
              .history__list-item
                .history__list-item-title Book a Demo
                .history__list-item-txt.
                  There's nothing worse than winning a huge jackpot
                  and then sitting and waiting for weeks or even
                  months before you can claim it. You'll want an
                  online casino with a fast payout time. There's
                  nothing worse than winning a huge jackpot and
                  then sitting and
        .promotions
          .content-center
            h2.title-1.promotions__title My articles in the Blog
            p.page-subtitle.promotions__subtitle.
              The best new casinos added to our list, including detailed casino
              reviews and rankings, bonuses, promotions.
            ul.promotions__list
              li.promotions__list-item
                .promotions__list-item-img
                  img(src="img/promotions-1.png" alt="")
                a(href="#" target="_blank").promotions__list-item-title Rough Guide to History of Gambling: From Ancient
                .promotions__list-item-date 20 July 2020
              li.promotions__list-item
                .promotions__list-item-img
                  img(src="img/promotions-2.png" alt="")
                a(href="#" target="_blank").promotions__list-item-title Rough Guide to History of Gambling: From Ancient
                .promotions__list-item-date 20 July 2020
              li.promotions__list-item
                .promotions__list-item-img
                  img(src="img/promotions-3.png" alt="")
                a(href="#" target="_blank").promotions__list-item-title Rough Guide to History of Gambling: From Ancient
                .promotions__list-item-date 20 July 2020
              li.promotions__list-item
                .promotions__list-item-img
                  img(src="img/promotions-4.png" alt="")
                a(href="#" target="_blank").promotions__list-item-title Rough Guide to History of Gambling: From Ancient
                .promotions__list-item-date 20 July 2020
            .promotions__info
              ul.promotions__list
                li.promotions__list-item
                  .promotions__list-item-img
                    img(src="img/promotions-1.png" alt="")
                  a(href="#" target="_blank").promotions__list-item-title Rough Guide to History of Gambling: From Ancient
                  .promotions__list-item-date 20 July 2020
                li.promotions__list-item
                  .promotions__list-item-img
                    img(src="img/promotions-2.png" alt="")
                  a(href="#" target="_blank").promotions__list-item-title Rough Guide to History of Gambling: From Ancient
                  .promotions__list-item-date 20 July 2020
            .promotions__more-btn.btn.green-btn Show More (#[span 14])
        .faq
          .content-center
            h2.section-title FAQ
            p.section-subtitle.
              The best new casinos added to our listing, including detailed
              casino reviews and ratings, bonuses, promotions.
            .faq__wrap
              .faq__list
                details.faq__list-item.box-shadow
                  summary.faq__list-item-title What age do you need to be to gamble online?
                  p.faq__list-item-text.
                    There are some warning signs if you're concerned that you or
                    someone you know may have a gambling addiction. If you're hiding
                    your habit from other people, maxing out your bank account and
                    getting into debt as a result of your real money gambling the
                    chances are you may be addicted. Likewise, if you're bunking off
                    work to gamble, sneaking around to gamble, and thinking about real
                    money gaming 24/7 the likelihood is your hobby has turned into a
                    habit and you should seek help.
                details.faq__list-item.box-shadow
                  summary.faq__list-item-title What kinds of games are available?
                  p.faq__list-item-text.
                    There are some warning signs if you're concerned that you or
                    someone you know may have a gambling addiction. If you're hiding
                    your habit from other people, maxing out your bank account and
                    getting into debt as a result of your real money gambling the
                    chances are you may be addicted. Likewise, if you're bunking off
                    work to gamble, sneaking around to gamble, and thinking about real
                    money gaming 24/7 the likelihood is your hobby has turned into a
                    habit and you should seek help.
                details.faq__list-item.box-shadow
                  summary.faq__list-item-title.
                    How do I know if I'm addicted to gambling?
                  p.faq__list-item-text.
                    Test text
                details.faq__list-item.box-shadow
                  summary.faq__list-item-title.
                    What age do you need to be to gamble online?
                  p.faq__list-item-text.
                    Test text
                details.faq__list-item.box-shadow
                  summary.faq__list-item-title.
                    What age do you need to be to gamble online?
                  p.faq__list-item-text.
                    Test text
              .faq__list
                details.faq__list-item.box-shadow
                  summary.faq__list-item-title What age do you need to be to gamble online?
                  p.faq__list-item-text.
                    There are some warning signs if you're concerned that you or
                    someone you know may have a gambling addiction. If you're hiding
                    your habit from other people, maxing out your bank account and
                    getting into debt as a result of your real money gambling the
                    chances are you may be addicted. Likewise, if you're bunking off
                    work to gamble, sneaking around to gamble, and thinking about real
                    money gaming 24/7 the likelihood is your hobby has turned into a
                    habit and you should seek help.
                details.faq__list-item.box-shadow
                  summary.faq__list-item-title What kinds of games are available?
                  p.faq__list-item-text.
                    There are some warning signs if you're concerned that you or
                    someone you know may have a gambling addiction. If you're hiding
                    your habit from other people, maxing out your bank account and
                    getting into debt as a result of your real money gambling the
                    chances are you may be addicted. Likewise, if you're bunking off
                    work to gamble, sneaking around to gamble, and thinking about real
                    money gaming 24/7 the likelihood is your hobby has turned into a
                    habit and you should seek help.
                details.faq__list-item.box-shadow
                  summary.faq__list-item-title.
                    How do I know if I'm addicted to gambling?
                  p.faq__list-item-text.
                    Test text
                details.faq__list-item.box-shadow
                  summary.faq__list-item-title.
                    What age do you need to be to gamble online?
                  p.faq__list-item-text.
                    Test text
                details.faq__list-item.box-shadow
                  summary.faq__list-item-title.
                    What age do you need to be to gamble online?
                  p.faq__list-item-text.
                    Test text
      .about#tab3
        .contacts-page
          .content-center
            .contacts-page__title.title-1 How can we help?
            .contacts-page__txt.page-subtitle.
              Select a topic below related to your inquiry. If
              you do not find what you are looking for then just
              fill out our contact form.
            .contacts-page__content
              .contacts-page__content-left
                ul.actions-list
                  li.actions-list__item
                    a(href="#").link
                    p.actions-title Order a demo
                    p.actions-subtitle Say you are playing a slot with a racing theme this is how:
                    .arrow
                  li.actions-list__item
                    a(href="#").link
                    p.actions-title Get Inspired
                    p.actions-subtitle Discover the many ways in which our customers use Kangarooo.
                    .arrow
                  li.actions-list__item
                    a(href="#").link
                    p.actions-title Become a Partner
                    p.actions-subtitle Join our Partner Program and earn 25% recurring commissions.
                    .arrow
                .trusted
                  p.trusted__title Set off
                  ul.trusted__list
                    li.trusted__list-item
                      img(src="img/contacts-logo-1.png" alt="Trusted")
                    li.trusted__list-item
                      img(src="img/contacts-logo-2.png" alt="Trusted")
                    li.trusted__list-item
                      img(src="img/contacts-logo-3.png" alt="Trusted")
              .contacts-page__content-right
                form.contacts-page__form
                  p.form-title Send Message
                  .wrap-name
                    label(for="first_name") First Name
                      input(type="text")#first_name.form-first-name
                    label(for="second_name").error-input Second Name
                      input(type="text")#second_name.form-second-name
                      .status-message.show
                        p Incorrect
                        p The data was incorrectly specified.
                  label(for="email") Email
                    input(type="email")#email.form-email
                  label(for="message") Message
                    input(type="text")#message.form-message
                  .upload
                    p
                      a(href="#") Upload File (Pdf, Jpg, Word)
                    p The size of the file is not guilty of changing 5Mb
                  button.btn.green-btn.form-btn Send Message
                  a(href="mailto:help@kangoroo.com").mail help@kangoroo.com
                  .success-popup
                    .close-btn
                    .success-popup__message
                      .icon
                      p.title Message Sent Successfully
                      p.text.
                        We can’t seem to find the page you’re looking for. Would you
                        like to head back to our #[a(href="#") homepage] instead?
                    .wrap
                      button.btn.green-btn.form-btn Back
                      a(href="mailto:help@kangoroo.com").mail help@kangoroo.com
                  .forbidden-popup
                    .close-btn
                    .forbidden-popup__message
                      .icon
                      p.title Message Sent Successfully
                      p.text.
                        We can’t seem to find the page you’re looking for. Would you
                        like to head back to our #[a(href="#") homepage] instead?
                    .wrap
                      button.btn.green-btn.form-btn Back
                      a(href="mailto:help@kangoroo.com").mail help@kangoroo.com